html, body {
    height: 100%;
    width: 100%;
    background-color: #003044;
}

.logo {
  width: 100%;
  text-align: center;
}

.logoimage {
  margin: 20px auto 20px auto;
  max-width: 100%;
}

.photos {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 20px;
  flex-wrap: wrap;
}

.photo {
  max-width: 250px;
  max-height: 250px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
}

.photoimg {
  max-width: 250px;
  max-height: 250px;
}

.footer {
  margin: 20px;
  text-align: center;
  color: #626262;
}

.footertext:visited {
  color: #bababa;
  text-decoration: none;
}

.footertext:link {
  color: #bababa;
  text-decoration: none;
}

.footertext:hover {
  color: #626262;
}

.uploadform {
  width: 500px;
  text-align: center;
  margin: 20px auto 0 auto;
  color: white;
}

.dark {
  color: #191919;
}

.lessdark {
  color: #626262;
}

.evenlessdark {
  color: #bababa;
}
