html, body {
    height: 100%;
    width: 100%;
    background-color: #003044;
}

.logo {
  width: 100%;
  text-align: center;
}

.logoimage {
  margin: 20px auto 20px auto;
  max-width: 100%;
}

.photos {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 20px;
  flex-wrap: wrap;
}

.userphotos {
  flex-direction: column-reverse;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 0 20px 0 100px;
  flex-wrap: wrap;
}

.photo {
  max-width: 250px;
  max-height: 250px;
  margin: 3px 5px 0px 5px;
  text-align: center;
  vertical-align: middle;
}

.photoimg {
  max-width: 250px;
  max-height: 250px;
}

.footer {
  margin: 40px;
  text-align: center;
  color: #626262;
}

.profile {
  text-align: center;
  margin: 0 auto 0 auto;
  width: 1000px;
}

.navbar {
  margin: 0 0 25px 0;
  text-align: center;
  color: #bababa;
}

.navtext:visited {
  color: #bababa;
  text-decoration: none;
}

.navtext:link {
  color: #bababa;
  text-decoration: none;
}

.navtext:hover {
  color: #626262;
}

.uploadform {
  margin: 20px auto 0 auto;
  color: white;
}

.loginform {
  width: 200px;
  margin: 20px auto 0 auto;
  color: white;
  text-align: center;
}

.profile-left {
  width: 400px;
  float: left;
} 

.profile-right {
  width: 500px;
  float: left;
}

.dark {
  color: #191919;
}

.lessdark {
  color: #626262;
}

.evenlessdark {
  color: #bababa;
}
